<%= form_for @session, html: {class: 'well'} do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :description, placeholder: 'Description', class: 'focused' %>
  <%= f.number_field :start_time, placeholder: 'Start' %>
  <%= f.number_field :end_time, placeholder: 'End' %>
  <%= f.number_field :count, placeholder: 'Count' %>
  <%= f.number_field :cost, placeholder: 'Cost' %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
