<h1>Sessions</h1>

<table border='1'>
  <tr>
    <th></th>
    <th>Description</th>
    <th>Start</th>
    <th>End</th>
    <th>Duration</th>
    <th>Count</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
    <td><%= session.id %></td>
    <td><%= session.description %></td>
    <td><%= time session.start_time %></td>
    <td><%= time session.end_time %></td>
    <td><%= duration session.end_time, session.start_time %></td>
    <td><%= session.count %></td>
    <td><%= cost session.cost %></td>
    <td><%= link_to 'Show', session %></td>
    <td><%= link_to 'Edit', edit_session_path(session) %></td>
    <td><%= link_to 'Destroy', session, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session', new_session_path %>
