<p>
  <b>Description:</b>
  <%= @session.description %>
</p>

<p>
  <b>Start time:</b>
  <%= @session.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @session.end_time %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
