<%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :token, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :token, placeholder: 'API Token', class: 'input-xlarge' %>
      <p class="help-block">API token for submitting sessions programmatically</p>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :timezone, class: 'control-label' %>
    <div class="controls">
      <%= f.time_zone_select :timezone %>
      <p class="help-block">Timezone for displaying session times</p>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  </div>
<% end %>