<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">and now?</a>
          <div class="nav-collapse">
            <ul class="nav">
              <%= yield :navbar_left %>
            </ul>
          </div>
          <ul class="nav pull-right">
            <% if content_for? :navbar_right %>
              <%= yield :navbar_right %>
            <% else %>
              <li><a href="/home/logout"><i class="icon-lock icon-white"></i> logout <%= @current_user.email %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    <%= yield :js %>
  </body>
</html>